<h2>Controller</h2>

 
<input ng-model="vm.item.nome" />

<br />
<input type="checkbox" ng-model="vm.item.pizza" /> pizza?

<br />
<button 
  class="btn btn-success" 
  ng-click="vm.adicionar()">Adicionar</button>
<button 
  class="btn btn-warning" 
  ng-click="vm.cancelar()">Cancelar</button>

<br /><br />

<ul>
  <li ng-repeat="item in vm.participantes">
    Nome: {{item.nome}}, 
    pizza: {{item.pizza ? 'Sim':'Não'}}
    <button class="btn btn-warning" ng-click="vm.editar(item)"><i class="glyphicon glyphicon-pencil"></i></button>
    <button class="btn btn-danger" ng-click="vm.excluir(item)"><i class="glyphicon glyphicon-trash"></i></button>
  </li>
</ul>